/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* wildcard selector added to overide default browser settings - used from love running project*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading-one {
    font-family: 'Caveat', sans-serif;
    text-decoration: none;
}