/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* wildcard selector added to overide default browser settings - used from love running project*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading-one {
    text-decoration: none;
}